SIMP_elastic_heat_gradient/out0/
SIMP_elastic_heat_gradient/out1/
SIMP_elastic_heat_gradient/out2/
SIMP_elastic_heat_gradient/out3/
SIMP_elastic_heat_gradient/out4/
SIMP_elastic_heat_gradient/out5/
SIMP_elastic_heat_gradient/out6/
SIMP_elastic_heat_gradient/out7/
SIMP_elastic_heat_gradient/out8/
SIMP_elastic_heat_gradient/out9/
SIMP_elastic_heat_gradient/out10/
SIMP_elastic_heat_gradient/out11/
SIMP_elastic_heat_gradient/out12/
SIMP_elastic_heat_gradient/out13/
SIMP_elastic_heat_gradient/out14/
SIMP_elastic_heat_gradient/out15/
SIMP_elastic_heat_gradient/out16/
SIMP_elastic_heat_gradient/80x40linearInterProper/
SIMP_elastic_heat_gradient/80x40linearmaterials/


*.png