SIMP_elastic_heat_gradient/out0/
SIMP_elastic_heat_gradient/out1/
SIMP_elastic_heat_gradient/out2/
SIMP_elastic_heat_gradient/out3/
SIMP_elastic_heat_gradient/out4/
SIMP_elastic_heat_gradient/out5/
SIMP_elastic_heat_gradient/out6/
SIMP_elastic_heat_gradient/out7/
SIMP_elastic_heat_gradient/out8/
SIMP_elastic_heat_gradient/out9/
SIMP_elastic_heat_gradient/out10/
